flows(1).json
[
    {
        "id": "49154e85e16f1c46",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "49b3e12763cf3d22",
        "type": "http request",
        "z": "49154e85e16f1c46",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.655280873569005&lon=-99.11941116574907&exclude=hourly,daily&appid=8545b2372a3ffe24f20b32c4354cd794&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "553f6439bcffc978"
            ]
        ]
    },
    {
        "id": "553f6439bcffc978",
        "type": "json",
        "z": "49154e85e16f1c46",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "c2cfead155c73975",
                "a2bc263133bbf904",
                "aee83bf86fa9c327",
                "658ef4d76d64b49f"
            ]
        ]
    },
    {
        "id": "226884632475dab3",
        "type": "inject",
        "z": "49154e85e16f1c46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "49b3e12763cf3d22",
                "42be8f3c41a5ea9b"
            ]
        ]
    },
    {
        "id": "f8edca1185fe86ed",
        "type": "ui_gauge",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "b82c6b1cb46087d4",
        "order": 1,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "oC",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#204a87",
            "#4e9a06",
            "#a40000"
        ],
        "seg1": "14",
        "seg2": "26",
        "className": "",
        "x": 890,
        "y": 40,
        "wires": []
    },
    {
        "id": "6b45b1fc5833a25b",
        "type": "ui_gauge",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "b82c6b1cb46087d4",
        "order": 2,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "60",
        "className": "",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2cfead155c73975",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "temperatura",
        "func": "msg.payload=msg.payload.current.temp;\nglobal.set(\"tempFlow5\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 40,
        "wires": [
            [
                "f8edca1185fe86ed"
            ]
        ]
    },
    {
        "id": "a2bc263133bbf904",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "humedad",
        "func": "msg.payload=msg.payload.current.humidity;\nglobal.set(\"humFlow5\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 80,
        "wires": [
            [
                "6b45b1fc5833a25b"
            ]
        ]
    },
    {
        "id": "1e24d3c3b74759f6",
        "type": "mqtt in",
        "z": "49154e85e16f1c46",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "8c122d4c3e973ade",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "7675efadf6d746df"
            ]
        ]
    },
    {
        "id": "7675efadf6d746df",
        "type": "json",
        "z": "49154e85e16f1c46",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 380,
        "wires": [
            [
                "7e510def13e2e9c1",
                "8111a03c1bf77fb8",
                "891e30ae0147bd0d",
                "f633927332105289"
            ]
        ]
    },
    {
        "id": "7e510def13e2e9c1",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 280,
        "wires": [
            [
                "5c4dc822ec44b4cd"
            ]
        ]
    },
    {
        "id": "5c4dc822ec44b4cd",
        "type": "ui_chart",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "a3a0bed71cef0159",
        "order": 1,
        "width": 20,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8111a03c1bf77fb8",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 320,
        "wires": [
            [
                "da6d0e0c3ed5c7d6"
            ]
        ]
    },
    {
        "id": "da6d0e0c3ed5c7d6",
        "type": "ui_chart",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "a3a0bed71cef0159",
        "order": 3,
        "width": 8,
        "height": 4,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9ccd83040d63f0f7",
        "type": "inject",
        "z": "49154e85e16f1c46",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 520,
        "wires": [
            [
                "96a6f735a0a507f7"
            ]
        ]
    },
    {
        "id": "96a6f735a0a507f7",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "",
        "func": "msg.payload='{\"id\":\"Lizbeth\",\"temp\":'+global.get(\"tempFlow5\")+',\"hum\":'+global.get(\"humFlow5\")+',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqi\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 520,
        "wires": [
            [
                "0678f7adc2d64d19",
                "6bd580ceeee19ae8"
            ]
        ]
    },
    {
        "id": "0678f7adc2d64d19",
        "type": "debug",
        "z": "49154e85e16f1c46",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 560,
        "wires": []
    },
    {
        "id": "6bd580ceeee19ae8",
        "type": "mqtt out",
        "z": "49154e85e16f1c46",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8c122d4c3e973ade",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "ad0c0c11e2859ce4",
        "type": "comment",
        "z": "49154e85e16f1c46",
        "name": "Solicitud API",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "7356d323d2ec537d",
        "type": "comment",
        "z": "49154e85e16f1c46",
        "name": "Informacion general",
        "info": "",
        "x": 90,
        "y": 340,
        "wires": []
    },
    {
        "id": "943caf5a352f9ef2",
        "type": "comment",
        "z": "49154e85e16f1c46",
        "name": "Enviador",
        "info": "",
        "x": 80,
        "y": 480,
        "wires": []
    },
    {
        "id": "aee83bf86fa9c327",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "uv",
        "func": "msg.payload=msg.payload.current.uvi;\nglobal.set(\"uvFlow5\",msg.payload)\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 120,
        "wires": [
            [
                "0a6e3e2c2418ccd3"
            ]
        ]
    },
    {
        "id": "0a6e3e2c2418ccd3",
        "type": "ui_gauge",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "b82c6b1cb46087d4",
        "order": 3,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "uv",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#4e9a06",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "658ef4d76d64b49f",
        "type": "debug",
        "z": "49154e85e16f1c46",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 140,
        "wires": []
    },
    {
        "id": "42be8f3c41a5ea9b",
        "type": "http request",
        "z": "49154e85e16f1c46",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.655280873569005&lon=-99.11941116574907&appid=8545b2372a3ffe24f20b32c4354cd794",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 270,
        "y": 220,
        "wires": [
            [
                "bfa0548cdcdec2bd"
            ]
        ]
    },
    {
        "id": "bfa0548cdcdec2bd",
        "type": "json",
        "z": "49154e85e16f1c46",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "68d263bdfc76f1cd"
            ]
        ]
    },
    {
        "id": "68d263bdfc76f1cd",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "Calidad del aire",
        "func": "msg.payload=msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "cbdffe4619da1c03"
            ]
        ]
    },
    {
        "id": "cbdffe4619da1c03",
        "type": "ui_gauge",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "b82c6b1cb46087d4",
        "order": 4,
        "width": 6,
        "height": 2,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "AQI",
        "format": "",
        "min": "0",
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "891e30ae0147bd0d",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "UV",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.uv\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 360,
        "wires": [
            [
                "493c924a0f62ff64"
            ]
        ]
    },
    {
        "id": "f633927332105289",
        "type": "function",
        "z": "49154e85e16f1c46",
        "name": "AQI",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "288c48c972638dde"
            ]
        ]
    },
    {
        "id": "493c924a0f62ff64",
        "type": "ui_chart",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "a3a0bed71cef0159",
        "order": 2,
        "width": 9,
        "height": 4,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "288c48c972638dde",
        "type": "ui_chart",
        "z": "49154e85e16f1c46",
        "name": "",
        "group": "a3a0bed71cef0159",
        "order": 9,
        "width": 8,
        "height": 4,
        "label": "AQI",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "be141f9dd0aabf07",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "872e1551aa6f7857",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "cd6e1ad5b9dd18dd",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "bed53c96ef64694d",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "8b513728fd7f2617",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 8,
        "width": 9,
        "height": 1
    },
    {
        "id": "6c61fbd1b6f5dbe0",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "2217d92d2d7c6269",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 11,
        "width": 9,
        "height": 1
    },
    {
        "id": "ae004a70c1ac1497",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "034af81df020358a",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 13,
        "width": 9,
        "height": 1
    },
    {
        "id": "a8f191eb5d22d0cc",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 14,
        "width": 3,
        "height": 1
    },
    {
        "id": "42193d901f4a4b89",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 15,
        "width": 9,
        "height": 1
    },
    {
        "id": "420c44ca1d27f845",
        "type": "ui_spacer",
        "z": "49154e85e16f1c46",
        "name": "spacer",
        "group": "a3a0bed71cef0159",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "b82c6b1cb46087d4",
        "type": "ui_group",
        "name": "Personal",
        "tab": "d91c677e585edb34",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c122d4c3e973ade",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ G7",
        "broker": "35.157.252.226",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a3a0bed71cef0159",
        "type": "ui_group",
        "name": "General",
        "tab": "d91c677e585edb34",
        "order": 2,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d91c677e585edb34",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]